#back {
    position: relative;
    top: 50px;
    margin-right: 85%;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}

body {
    font-family: 'Roboto Mono', monospace;
    height: auto;
    background-image: url("https://pm1.narvii.com/6975/eebc46294f4a5aa7fe559d002668c5eeda13ad0ar1-848-480v2_hq.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.container .menu img {
    width: 50px;
}

.img-logo {
    width: 900px;
    margin-right: 4.5%;
}

button,
  .button-jogar {
    padding: 0.8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }

h2 {
    color: black;
}

#carta-jogador, #carta-maquina {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 30px;
    border-radius: 33px;
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 160px;
    margin: 2rem;
    color: white;
    z-index: 0;
    text-align: left;
}

.carta-status input {
    margin: 20px 10px;
}

.carta-status p {
    margin-bottom: 2rem;
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#placar, #quantidade-cartas, #resultado {
  color: black;
  padding: 10px;
  font-size: 20px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;

}

#placar {
  background-color: #ccffe5;  
  font-weight: bolder;
  opacity: 0.65;
  border-radius: 20px 20px 0 0px;
  margin-top: 5%;
}

#quantidade-cartas {
    background-color: #ccffe5;
    font-weight: bolder;
    opacity: 0.65;
}

#resultado {
    background-color: #ccffe5;
    opacity: 0.65;  
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 5%;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    width: 450px;

}
  
#btnProximaRodada {
  width: 200px;
  margin: 0 auto;
  margin-top: 5%;
}